.search-container {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    border-bottom: 4px solid #940000;
    background-color: #000;
}
.search-input {
    margin-bottom: 25px
}